table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 15%;
  }
  .menu-Bar{
    background-color: rgb(2, 106, 113);;

  }
  .add-Devicebutton{
    margin-left: 470px;

  }
 